/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */*

 @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   50% {
     opacity: .5;
   }
   100% {
     opacity: 1;
   }

 }

/* =========================================================================
   Repete action
   =========================================================================  */

 body, .paragraphe, .navbar, .product .price, .product .row,  *, *::after, *::before {
   margin: 0;
 }

 body, .product .row > p, *, *::after, *::before   {
   padding: 0;
 }

 body, *, *::after, *::before {
   box-sizing: border-box;
 }

  .navbar, .toggleMenu, .product .row  {
    display: flex;
  }

  header, .navbar, .nav-container, .overlay, .toggleMenu span, .paragraphe, .footer  {
    width: 100%;
  }

  .nav-container, .navbar, .nav {
    position: relative;
  }

.navbar, .left-item {
  flex-direction: row;

}

.nav, .toggleMenu {
  flex-direction: column;
}
  /* =========================================================================
                Header
     =========================================================================  */


body {
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  height: 100vh;
}

   .login {
     color: blue;
     text-decoration: none;
     font-size: 2rem;
     font-family: 'Raleway', sans-serif;
     font-weight: 900;
     padding: 1rem;
   }

   .login:hover {
     color: #00a676;
   }

   .container{
     display: flex;
     justify-content: center;
   }
  .admin{
    background: red;
   }
  .name, .password{
    font-size: 25px;
  }

   .left-item {
     flex-direction: row;
     justify-content: flex-start;
     flex-grow:  1;
     font-size: 2rem;
     font-family: 'Pacifico', cursive;
     text-decoration: none;
     color: coral;
}

html {
 font-size: 62.5%;
}

.basket {
  width: 45px;
  margin: 0 10px;
}
.show a {
  display: block;
}

.wrapper {
 max-width: 100%;
}

.wrapper, .nav-container {
 height: auto;
}
.nav-container {
 background-color: #023E73;
}


.navbar {
 justify-content: flex-end;
 align-content: center;
 padding: 1.4rem;
 align-items: center;
}

.nav-item {
 color: white;
 text-decoration: none;
 font-size: 2rem;
 font-family: 'Raleway', sans-serif;
 font-weight: 900;
 padding: 1rem;
}

.nav-item:hover {
 color: #00a676;
}

.left-item {
 justify-content: flex-start;
 flex-grow:  1;
 font-size: 2rem;
 font-family: 'Pacifico', cursive;
 text-decoration: none;
 color: coral;
 width: 50%;

}

.nav {
  margin-top: 10vw;
  display: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  z-index: 60;
}

.nav a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #00a676;
  padding: 1rem;
  z-index: 60;
}

.show {
 display: flex;
}

.overlay {
 display: none;
 top: 0;
 position: absolute;
 height: 100vh;
 background-color: rgb(2,62,115,.8);
 z-index: 20;
}
.overlayAni {
 animation: fadeIn 2s ease-in-ease-out;
}
.showOverlay {
 display: block;

}

.basketlink {
  position: relative;
}

.baskContent {
  position: absolute;
  right: 13px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgb(255,255,255);
  text-align: center;
  top: 0px;
}

/*  Class to toggle for the menu content */

.toggleMenu {
 order: 5;
 flex-basis: 3rem;
 align-content: center;
 justify-content: space-around;
 align-items: center;
}

.toggleMenu span {
 color:#00a676;
 border-bottom: .2rem solid white;
 border-radius: .1rem;
 z-index: 99;
 height: 15px;
}

.toggleMenu:hover span {
 cursor: pointer;
 border-bottom: .2rem solid #00a676;
}


/* =========================================================================
              Index
   =========================================================================  */

.paragraphe {
 text-align: center;
 font-size: 25px;
 color: #5687e6;
}

.row img{
  margin-top: 29px;
}

.card-title{
  color: black;
}

.card-text{
  color: grey;
}
a{
  list-style: none;
}

a:hover{
  text-decoration: none;
  color: #5687e6;
}

.price{
  color:#fb3640;
}

/* ===========================================================
    Product styles
    ========================================================== */

.product section {
 text-align: center;
}

.product h2, .contact h1 {
 color: #5687e6;
 margin: 18px 0;
}

.product .price {
 text-align: right;
 font-size: 25px;
}

.product .row {
 justify-content: space-between;
 align-items: flex-start;

}

.product .divColor {
 margin: 0 20px;
 justify-content: space-around;
}

.product .color {
 width: 20px;
 height: 20px;
 border: 1px solid black;

}

.product .available {
 color: #00a676;
 margin: 20px 0;
 border-bottom: 1px solid;
 border-top: 1px solid;
 font-size: 1.2rem;
}

.product select {
 color: #6c757d;
}

.product .row > p {
 margin: 25px 0;
 text-align: initial;
}

.product section p:last-child {
 text-align: justify;
 margin: 15px;
}

.product .btn {
  margin: 10px;
}

/*============================================
      Colors shoes
      ==============================================*/

.black  {
 background-color: black;

}

.red {
 background-color: red;
}

.white {
 background-color: white;
}

.blue {
 background-color: #253b9e;
}

.orange {
 background-color: #ff5a13;
}

.lightblue {
 background-color: #69a4a8;
}

.lightgreen {
 background-color: #31a399;
}

.lightpink {
 background-color: #e6a4a5;
}
/* =========================================================================
              Contact
   =========================================================================  */

.contact .btn {
  margin: 20px auto;
  background: #5687e6;
  padding: 10px 39px;
  display: block;
}

.contact .btn:hover {
  background-color: white;
}

.contact {
  height: auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.contact textarea {
  height: 150px;
  padding: 10px;
}

.contact textarea:hover, .contact input[type="email"]:hover {
  box-shadow: 0px 0px 5px darkgray;
}
/* =========================================================================
              Index
   =========================================================================  */

.footer {
  background: #073660;
  padding: 10px 0;
}

.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}

.footer a:first-child {
  border-left: 1px solid #70726F;
}

.footer a:hover {
  color: white;
}


/*=======================================
    Responsive
    ===========================================*/

@media screen and (min-width: 31rem) {
  .toggleMenu, .mobileMenu {
    display: none;
  }
}


@media screen and (max-width: 30rem) {
  .nav-item {
    display: none;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
 .product .row {
  align-items: center;
 }

 .product .divPrice {
   justify-content: center;
   flex-direction: column-reverse;
 }

 .product .price {
   text-align: center !important;
 }

 .product section p:last-child {
   margin: 0;
 }

 .product select, .product section p:last-child {
   flex: 0 0 5%;
 }


}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
